.headerbox2 {
    padding: 5px 15px 40px 15px;
    background-size: cover;
    opacity: .8;
}
.hero-text {
    position: relative;
    padding-top: 60px;
    line-height: 1.5em;
    font-size: 18px;
    font-family: Libre Baskerville;
    font-weight: lighter;
    color: #2c8da8;
    line-height: 30px;
}
.getstarted {
    margin-top: 58px;
    position: relative;
    font-family: Libre Baskerville;
    font-size: 14px;
    background-color:#164361;
    color: white;
    padding: 7px;
    border: none;
    border-radius: 2px;
    opacity: .9;
  }
.cardtitle-container {
    max-width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    background-color: #eef5f8;
    margin: 30px 0 30px 0;
  }
figure {
    margin: 0 5px 0 5px;
    padding-top: 20px;
  }
.figure-container {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    margin: 0;
  }
.portfolio-image {
    width: 297px;
    height: 273px;
    margin: 40px 0 40px 0;
    border-radius: 2%;
    filter: grayscale(100%);
  }
.caption1, .caption2, .caption3 {
    position: relative;
    bottom: 25%;
    left: 25%;
    background-color: white;
    font-family: Libre Baskerville;
    color: #559FBC;
    padding: 5px 8px 5px 8px;
    font-size: 12px;
    width: max-content;
  }
.caption3 {
      left: 35%;
  }